{
    "extends": [
      "react-app",
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier",
      "eslint-config-prettier"
    ],
    "rules": {
      "no-mixed-spaces-and-tabs": "error",
      "no-console": "warn",
      "quotes": ["off", "single"],
      "jsx-quotes": ["error", "prefer-double"],
      "prefer-const": "error",
      "indent": ["warn", 2],
      "max-len": ["warn", {"code": 108}],
      "comma-dangle": "off",
      "semi": ["error", "always"]
    }
  }